[submodule "childs/a"]
	path = childs/a
	url = https://github.com/skalva404/child-a.git
[submodule "a"]
	path = a
	url = https://github.com/skalva404/child-a.git
[submodule "child-a"]
	path = child-a
	url = https://github.com/skalva404/child-a.git
